backcall==0.2.0
beautifulsoup4==4.9.3
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
bs4==0.0.1
census==0.8.15
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1600681203656/work
chardet==3.0.4
chromedriver-py==87.0.4280.20
citipy==0.0.5
click==7.1.2
colorama==0.4.3
configparser==5.0.1
crayons==0.4.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.2
Flask-PyMongo==2.3.0
future==0.18.2
geojson==2.5.0
gmaps==0.9.0
gunicorn==20.0.4
idna==2.10
importlib-metadata @ file:///C:/ci/importlib-metadata_1593431910144/work
ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///C:/ci/jedi_1596472773465/work
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
jsonschema==3.2.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-core==4.6.3
jupyterthemes==0.20.0
kdtree==0.16
kiwisolver==1.2.0
lesscpy==0.14.0
lxml==4.6.1
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-base_1592846129657/work
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mrjob==0.7.4
nb-conda-kernels @ file:///C:/ci/nb_conda_kernels_1600445421227/work
nbconvert==5.6.1
nbformat==5.0.7
nbmerge==0.0.4
notebook @ file:///C:/ci/notebook_1596840158498/work
numpy==1.18.5
openpyxl==3.0.5
packaging==20.4
pandas @ file:///C:/ci/pandas_1592833608684/work
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
ply==3.11
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pymongo==3.9.0
pyparsing==2.4.7
pyrsistent @ file:///C:/ci/pyrsistent_1600141799440/work
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==19.0.2
requests==2.24.0
scikit-learn @ file:///C:/ci/scikit-learn_1598358870446/work
scipy @ file:///C:/ci/scipy_1592930618155/work
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.0.1
splinter==0.14.0
SQLAlchemy @ file:///C:/ci/sqlalchemy_1598356696886/work
terminado==0.8.3
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.10
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webdriver-manager==3.2.2
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
zipp==3.1.0
